<!DOCTYPE html>

	
<html>

	
<head>
  <meta charset='utf-8' />
  <!-- 画面解像度により文字サイズを対応(モバイル対応) -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- fullcalendar CDN -->
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
  <!-- fullcalendar 言語 CDN -->
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
<style>
  /* bodyスタイル */
  html, body {
    overflow: hidden;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  /* カレンダーのヘッダースタイル(年月がある部分) */
  .fc-header-toolbar {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
</style>
</head>
<body style="padding:30px;">
  {% if user.is_teacher %}
    <h1>先生名:{{user.username}}</h1>
  {% else%}
    <h1>生徒名:{{user.username}}</h1>
  {% endif %}
  <!-- calendarタグ -->
  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>
  <script>
  (function(){
    $(function(){
      // calendarエレメント取得
      var calendarEl = $('#calendar')[0];
      // full-calendar生成する。
      var calendar = new FullCalendar.Calendar(calendarEl, {
        height: '600px', // calendarの高さ設定
        expandRows: true, // 画面に合わせて高さを再設定
        slotMinTime: '08:00', // Dayカレンダーに開始時間
        slotMaxTime: '20:00', // Dayカレンダーに終了時間
        // ヘッダーに表示するツールバー
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        initialView: 'dayGridMonth', // 初期ロードする時、見えるカレンダーの画面(基本設定:月)
        initialDate: '2021-07-15', // 初期日付設定(設定しなければ基本的に本日の日付で設定)
        navLinks: true, // 日付を選択するとDayカレンダーやWeekカレンダーにリンク
        editable: true, // 修正可能
        selectable: true, // カレンダーのドラッグ設定可能
        nowIndicator: true, // 現在時間マーク
        dayMaxEvents: true, // イベントの数がオバーすると高さの制限(+のマークと何個式で表現)
        locale: 'ja', // 日本語設定
        eventAdd: function(obj) { // イベントが追加すると発生するイベント
          console.log(obj);
        },
        eventChange: function(obj) { // イベントが修正されたら発生するイベント
          console.log(obj);
        },
        eventRemove: function(obj){ // イベントが削除すると発生するイベント
          console.log(obj);
        },
        select: function(arg) { // カレンダーでドラックでイベントを生成することが可能。
          var title = prompt('Event Title:');
          if (title) {
            calendar.addEvent({
              title: title,
              start: arg.start,
              end: arg.end,
              allDay: arg.allDay
            })
          }
          calendar.unselect()
        },
        // イベント
        events: [
          {
            title: 'All Day Event',
            start: '2021-07-01',
          },
          {
            title: 'Long Event',
            start: '2021-07-07',
            end: '2021-07-10'
          },
          {
            groupId: 999,
            title: 'Repeating Event',
            start: '2021-07-09T16:00:00'
          },
          {
            groupId: 999,
            title: 'Repeating Event',
            start: '2021-07-16T16:00:00'
          },
          {
            title: 'Conference',
            start: '2021-07-11',
            end: '2021-07-13'
          },
          {
            title: 'Meeting',
            start: '2021-07-12T10:30:00',
            end: '2021-07-12T12:30:00'
          },
          {
            title: 'Lunch',
            start: '2021-07-12T12:00:00'
          },
          {
            title: 'Meeting',
            start: '2021-07-12T14:30:00'
          },
          {
            title: 'Happy Hour',
            start: '2021-07-12T17:30:00'
          },
          {
            title: 'Dinner',
            start: '2021-07-12T20:00:00'
          },
          {
            title: 'Birthday Party',
            start: '2021-07-13T07:00:00'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/', // クリック時に当該なURLに移動
            start: '2021-07-28'
          }
        ]
      });
      // カレンダーレンダリング
      calendar.render();
    });
  })();
</script>
</body>
</html>